<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fatec.eduardoruben.hoteldialogs">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="25" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_hd"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_hd"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/API_KEY"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Reservar2"
            android:label="@string/reservar" />
        <activity
            android:name=".Checkin"
            android:label="@string/checkin" />
        <activity
            android:name=".Servem"
            android:label="@string/servem" />
        <activity
            android:name=".Horas"
            android:label="@string/horas" />
        <activity
            android:name=".Problemas"
            android:label="@string/problemas" />
        <activity
            android:name=".Comida"
            android:label="@string/comida" />
        <activity
            android:name=".PontoCarne"
            android:label="@string/pontoCarne" />
        <activity
            android:name=".Restaurante"
            android:label="@string/restaurante" />
        <activity
            android:name=".Checkout"
            android:label="@string/checkout" />
        <activity
            android:name=".Avaliacao"
            android:label="@string/avaliacao" />
        <activity
            android:name=".Pagamento"
            android:label="@string/pagamento" />
        <activity
            android:name=".Geral"
            android:label="@string/geral" />
        <activity
            android:name=".TextoVoz"
            android:label="@string/textoFala" />
        <activity
            android:name=".VoiceRecog"
            android:label="Reconhecimento de Voz" />
        <activity
            android:name=".DatePick"
            android:label="Data" />

    </application>

</manifest>